doctype html
html(lang="en")
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')

	head
		title Node.js & Passport App
		link(rel='icon', type='image/x-icon', href='../images/favicon.ico')
		//- Fonts
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
		//- Hojas de estilos css
		link(rel="stylesheet", href="../css/reset.css")
		link(rel='stylesheet', href='../semantic-ui-1.0/semantic.min.css')
		link(rel="stylesheet", href="../css/style.css")
		//- scripts
		script(type='text/javascript' src='../js/jQuery-3.3.1.js')
		script(type='text/javascript' src='../semantic-ui-1.0/semantic.min.js')
		script(type='text/javascript' src="../js/app.js")

	body

		block content

