extends layout

block content

		.ui.three.column.grid
			.column.row
				.column.register
					i.fab.fa-node-js.fa-8x
					br
			.colum.row
				.column.register
					h2 Create an account or login
			.column.row
				.column.register
						button.ui.fluid.large.olive.button(type='button') Register
			.column.row
				.column.register
						button.ui.fluid.large.teal.button(type='button') Login
