extends ../layout

block content

	.ui.column.grid
		.column.row
			.column.register
				i.fab.fa-node-js.fa-3x
		.column.row
			.column.register
				i.fas.fa-user-check.fa-lg
					h3(sytle="display: block") Register
		.column.row
			.column.register
				form.ui.form
					.field
						.ui.left.icon.input
							i.user.icon
							input(type="text", name="name", placeholder="Enter Name")
					.field
						.ui.left.icon.input
							i.user.icon
							input(type='text', name='email', placeholder='Email')
					.field
						.ui.left.icon.input
							i.lock.icon
							input(type='password', name='password', placeholder='Enter Password')
					.field
						input(type='password', placeholder='Confirm Password')
					.field
						.ui.checkbox
							input.hidden(type='checkbox', tabindex='0')
							label I agree to the Terms and Conditions
					button.ui.fluid.large.teal.button(type='submit') Entrar